/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [InstanceName]
      ,[DatabaseName]
      ,[BackupType]
      ,[BackupFileSizeBytes]
      ,[BackupFileSizeMB]
      ,[BackupFileSizeCompressedBytes]
      ,[BackupFileSizeCompressedMB]
      ,[BackupStarted]
      ,[BackupCompleted]
      ,[ETSeconds]
      ,[ETMinutes]
      ,[FirstLsn]
      ,[LastLSN]
      ,[BackupPath]
  FROM [VM_DBA_Reports].[dbo].[RptFleetBackups_Work]

